<div class="cards">
  <% @flats.each do |flat| %>
    <%= link_to flat_path(flat), class: "card-trip text-decoration-none text-dark" do %>
      <div class="card-trip">
        <img src="<%= flat.image_url %>" alt="<%= flat.name %>" />
        <div class="card-trip-infos d-flex justify-content-between align-items-center">
          <div>
            <h2><%= flat.name %></h2>
            <p><%= flat.address %></p>
            <h2 class="card-trip-pricing">$<%= flat.price %></h2>
          </div>
          <img src="<%= flat.user.avatar_url %>" class="card-trip-user avatar-bordered" alt="<%= flat.user.first_name %>'s avatar" />
        </div>
      </div>
    <% end %>
  <% end %>
</div>
