<div class="justify-content-center text-center">
  <h1>My Bookings</h1>
<div class="cards">
  <% @requests.each do |request| %>
    <%= link_to flat_path(request.flat), class: "card-trip text-decoration-none text-dark" do %>
      <div class="card-trip">
        <img src="<%= request.flat.image_url %>" alt="<%= request.flat.name %>" />
        <div class="card-trip-infos d-flex justify-content-between align-items-center">
          <div>
            <h2><%= request.flat.name %></h2>
            <div class="d-flex">
            <p class="me-3">CHECK-IN <%= request.start_date %></p>
            <p>CHECK-OUT <%= request.end_date %></p>
            </div>
          </div>
        </div>
      </div>
    <% end %>
  <% end %>
</div>
</div>
