<div class="container">
  <div class="row p-4 g-4">
    <%# FLAT INFO COLUMN %>
    <div class="col-12 col-lg-8">
      <div class="card-trip-show shadow">
        <img src="<%= @request.flat.image_url %>" alt="<%= @request.flat.name %>" class="w-100" style="height: 500px; object-fit: cover;" />
        <div class="card-trip-infos d-flex justify-content-between align-items-center p-3">
          <div>
            <h2><%= @request.flat.name %></h2>
            <p><%= @request.flat.description %></p>
            <p><%= @request.flat.address %></p>
          </div>
          <h2 class="card-trip-pricing">$<%= @request.flat.price %></h2>
        </div>
      </div>
    </div>

    <%# BOOKING CARD %>
    <div class="col-12 col-lg-4" style="
        display: flex;
        flex-direction: column;">
      <%# MAP CARD%>
      <div class="card-trip-show shadow d-flex align-items-stretch" style="flex-grow: 1; min-height: 150px;">
        <div
          style="width: 100%; height: 100%;"
          data-controller="map"
          data-map-markers-value="<%= @markers.to_json %>"
          data-map-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>">
        </div>
      </div>
      <%# Price breakdown div %>
      <div class="card shadow p-3">
        <h5 class="mb-3">Price Breakdown</h5>
        <div class="d-flex justify-content-between">
          <p class="mb-1 text-muted">CHECK-IN</p>
          <p class="mb-1"><%= @request.start_date.strftime("%B %-d, %Y") %></p>
        </div>
        <div class="d-flex justify-content-between">
          <p class="mb-1 text-muted">CHECK-OUT</p>
          <p class="mb-1"><%= @request.end_date.strftime("%B %-d, %Y") %></p>
        </div>
        <div class="d-flex justify-content-between">
          <p class="mb-1 text-muted">PRICE PER NIGHT</p>
          <p class="mb-1">$<%= @request.flat.price %></p>
        </div>
        <hr>
        <div class="d-flex justify-content-between fw-bold">
          <p class="mb-0">TOTAL</p>
          <p class="mb-0">$<%= (@request.end_date - @request.start_date).to_i * @request.flat.price %></p>
        </div>
      </div>
    </div>
  </div>
</div>
